@import '@wordpress/base-styles/colors';
@import '@wordpress/base-styles/variables';
@import '@wordpress/base-styles/mixins';
@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/animations';
@import '@wordpress/base-styles/z-index';

.block-editor-block-navigation__popover {
	.components-popover__content {
		padding: 0;
	}

	.edit-post-editor__document-overview-panel .edit-post-sidebar__panel-tabs {
		flex-direction: row;
	}

	.edit-post-editor__list-view-container {
		max-height: 600px;
	}
}
